name: CI Pipeline

on: [push]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas mlflow torch torchvision
        # Si un fichier requirements existe, on l'utilise aussi
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
        
    - name: Run Unit Tests (Check Help)
      # On vérifie juste que le code démarre sans erreur de syntaxe
      run: |
        python main.py --help